.login {
  position: relative;
  background-color: #ccc;
  height: 580px;
  width: 100%;
  top: 50px;
  padding-top: 50px;

  .loginBody {
    max-width: 450px;
    padding: 35px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;

    .loginTitle {
      font-weight: 600;
      text-align: center;
      margin-bottom: 40px;
      font-size: 50px;
      color: #172a46;
    }

    .detailSection {
      display: flex;
      flex-direction: column;
    }
    .password {
      margin-top: 20px;
    }

    label {
      padding-bottom: 5px;
      font-size: 20px;
      margin-bottom: 5px;
    }

    input,
    select,
    textarea {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
    }

    .loginButton {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button {
      height: 40px;
      width: 200px;
      font-size: 16px;
      background-color: #172a46;
      border: transparent solid 1px;
      padding: 5px 10px;
      color: white;
      border-radius: 8px;
      transition: 0.3s ease-in;
    }

    button:hover {
      background-color: #ccc;
      border: 2px solid #172a46;
      color: #172a46;
      transition: 0.3s ease-out;
      cursor: pointer;
    }

    button:disabled {
      cursor: not-allowed;
    }

    .or {
      margin: 12px;
      font-size: 15px;
    }

    .pageChange {
      text-decoration: none;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
